@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Yellowtail&display=swap');
*{
    font-family:'quicksand';
}
a{
    color:seagreen !important;
}
.btn{
    color: white !important;
}