{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container my-5">
    <div class="row py-5">
        <div class="col-md-8">
           <div class="card">
               <div class="card-body">

                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" novalidate="" action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="address">Address</label>
                        <!-- <input type="text" class="form-control" id="address" placeholder="1234 Main St" required=""> -->
                        {{form.street_address}}
                       
                    </div>
                    <div class="mb-3">
                        <label for="address2">Apartment Adress <span class="text-muted">(Optional)</span></label>
                        <!-- <input type="text" class="form-control" id="address2" placeholder="Apartment or suite"> -->
                        {{form.apartment_address}}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="country">Country</label>
                            <!-- <select class="custom-select d-block w-100" id="country" required="">
                                <option value="">Choose...</option>
                                <option>United States</option>
                            </select> -->
                            {{form.country}}
                            <div class="invalid-feedback"> Please select a valid country. </div>
                        </div>
                        
                        <div class="col-md-6">
                            <label for="zip">Zip</label>
                            <!-- <input type="text" class="form-control" id="zip" placeholder="" required=""> -->
                            {{form.zip}}
                            <div class="invalid-feedback"> Zip code required. </div>
                        </div>
                    </div>
                    <hr>
                    <div class="custom-control custom-checkbox">
                        <input {% if form.save_billing_address.value %}
                          checked                       
                        {% endif %}
                         type="checkbox" class="custom-control-input" id="same-address">
                        {{form.save_billing_address}}
                        <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input {% if form.save_info.value %}
                        checked                       
                      {% endif %} type="checkbox" class="custom-control-input" id="save-info">
                        {{form.save_info}}
                        <label class="custom-control-label" for="save-info">Save this information for next time</label>
                    </div>
                    <hr>
                    <h4 class="mb-3">Payment</h4>
                    <div class="d-block my-3">
                        {% for value, name in form.fields.payment_option.choices %}
                        <div class="custom-control custom-radio">
                            <input id="{{name}}" name="payment_option" value="{{value}}" type="radio" class="custom-control-input" required="">
                            <label class="custom-control-label" for="{{name}}">{{name}}</label>
                            <!-- {{form.payment_option}} -->
                        </div>
                        {% endfor %}
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" id="purchasebtn" type="submit">Proceed To Payment</button>
                </form>
               </div>
           </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="display-4"> Orders</div>
                        <hr>
                        <ul class="list-group">
                            {% if order %}
                                {% for i in order.items.all  %}
                                 <li class="list-group-item">
                                    
                                        {{i.item.title}}
                                        {% if i.item.discount_price %}
                                            &#8358; {{i.item.discount_price}}
                                        {% else %}
                                            &#8358; {{i.item.price}}
                                        {% endif %}

                                 </li>
                                 {% endfor %}
                                 <li class="list-group-item">
                                    <strong>Amount To Pay: &#8358; {{order.get_total}}</strong> 
                                 </li>

                            {% endif %}

                        </ul>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
